@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,300;0,400;0,500;1,800&display=swap");

@import "global";
@import "animation";

//============================header========================//
.header {
   position: relative;
   height: 100vh;
   overflow: hidden;
   width: 100%;
   margin-bottom: 40px;

   .header__slider {
      position: relative;
      .header__slider-item {
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         height: 100vh;
         .masck {
            height: 100vh;
            width: 100%;
            background: rgba(#1c2121, 0.75);
         }
      }
   }

   .slider-arrows {
      display: none !important;
   }

   .slider-arrows__left {
      display: none;
   }
}

.slider-item__info {
   position: absolute;
   right: 20px;
   bottom: 60px;
   text-align: right;
}

.slider-item__info-subtitle {
   position: absolute;
   bottom: 160px;
   right: 0;
}

.slider-item__info-title {
   position: absolute;
   width: 280px;
   line-height: 1.2;
   font-weight: 800;
   font-size: 40px;
   bottom: 120px;
   right: 0;
}

.slider-item__info-subttext {
   bottom: 95px;
   right: -30px;
}

.slider-item__info-text {
   font-weight: 800;
   font-size: 32px;
   line-height: 40px;
   bottom: 60px;
   right: 0;
   position: absolute;
}

.slider-item__info-link {
   position: relative;
   bottom: 10px;
}

.slider-dotshead {
   position: relative;
   width: 100%;
   display: flex;
   justify-content: center;
   .slider-body {
      position: absolute;
      bottom: 45px;
      .slick-current {
         .dots-box {
            border-top: 10px solid $aqua;
         }
      }
   }
   .dots-box {
      width: 10px;
      border-top: 10px solid #fff;
      margin-left: 5px;
      border-radius: 50%;
      .dots-box__number {
         display: none;
      }
      .dots-box__name {
         display: none;
      }
   }
}

// header aside
.header__aside {
   position: relative;
   user-select: none;
   .header__aside-inner {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 0;
      left: 0;
      z-index: 5;
      width: 80px;
      height: 350px;
      background-color: rgba(#000, 0.1);
      border-right: 1px solid rgba(#fff, 0.5);

      .logo {
         img {
            width: 80px;
         }
      }

      .menu {
         z-index: 1000;
         position: absolute;
         text-align: center;
         top: 0;
         padding-top: 10px;
         background: rgba(#000000, 0.8);
         width: 80px;
         height: 350px;
         transform: translateX(-100%);
         transition: all 0.6s;
         &.active {
            transform: translateX(0);
         }

         a {
            span {
               display: block;
               font-size: 12px;
               line-height: 14px;
               letter-spacing: 3px;
               font-weight: 500;
               padding-top: 6px;
               margin-bottom: 20px;
               text-transform: capitalize;
            }
         }

         .menu__list {
            li {
               a:hover {
                  opacity: 0.5;
               }
            }
         }
      }

      .search__loc__date {
         position: relative;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-around;
         height: 150px;
         .header__search {
            cursor: pointer;
            display: none;
         }

         .header__date {
            text-align: center;
            #day {
               font-weight: 800;
               font-size: 40px;
            }
            #date {
               font-weight: 500;
               font-size: 12px;
               display: block;
            }
         }

         .header__location {
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
            font-style: normal;
            text-transform: capitalize;
            cursor: pointer;

            img {
               display: inline;
               width: 11px;
               height: 13px;
            }
         }
      }
   }
}

.header__title {
   z-index: 5;
   opacity: 0.07;
   font-weight: 800;
   font-size: 60px;
   line-height: 50px;
   top: 5px;
   left: 65px;
   width: 80px;
   position: absolute;
}

.menu-btn {
   width: 40px;
   position: absolute;
   right: 27px;
   top: 25px;
   z-index: 5;
   display: block;

   &__line {
      height: 5px;
      background-color: $aqua;
      margin-bottom: 5px;
   }
   &__line2 {
      position: absolute;
      right: 0;
      width: 30px;
      height: 5px;
      background-color: $aqua;
      margin-bottom: 5px;
   }
   &__line3 {
      top: 20px;
      position: absolute;
      right: 0;
      width: 20px;
      height: 5px;
      background-color: $aqua;
      margin-bottom: 5px;
   }
}

.header__map {
   position: relative;
   svg {
      position: absolute;
      width: 300px;
      height: 200px;
      top: 0;
      right: 0;
      z-index: 3;
   }
}

.header__arrows {
   display: none;
   position: absolute;
   left: 210px;
   bottom: 20px;
   z-index: 3;
}

//============================= surf=========================//
.surf {
   overflow: hidden;
   margin-bottom: 40px;
   .surf__loc-img {
      position: absolute;
      width: 71px;
      right: 0;
   }

   .surf-slide {
      padding-top: 50px;
      .slider-arrows {
         display: none !important;
      }
   }

   .title {
      span {
         left: 40px;
         font-size: 40px;
         top: 12px;
      }

      h3 {
         top: -12px;
         right: -8px;
         font-size: 30px;
         &::after {
            width: 50px;
         }
      }
   }

   .surf__subtitle {
      display: flex;
      justify-content: end;
      padding-right: 25px;
      .subtitle {
         .subtitle__head {
            font-size: 16px;
            width: 155px;
            padding: 0;
         }
      }

      .headline-left {
         font-size: 12px;
         line-height: 20px;
         letter-spacing: 0;
         left: -22px;
         &::before {
            width: 40px;
            left: 10px;
         }
      }
   }

   .surf-box {
      &__wrapper {
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
      }
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      .surf-box__inner {
         min-height: 450px;
         background: rgba(#1c2121, 0.85);
         position: relative;
         transition: all 0.5s;
         &:hover {
            background: rgba(#1c2121, 0.3);
            cursor: auto;
            .surf-box__inner-btn {
               display: block;
            }
         }
      }
   }
}

.slick-slide:nth-child(4n + 1) {
   .surf-box {
      margin-top: 16px;
   }
}

.slick-slide:nth-child(4n + 3) {
   .surf-box {
      margin-top: 32px;
   }
}

.surf-box__inner-title {
   font-size: 20px;
   font-weight: 800;
   line-height: 20px;
   padding: 24px 0 0 18px;
   width: 170px;
   word-wrap: break-word;
}

.surf-box__inner-location {
   font-size: 12px;
   line-height: 5px;
   letter-spacing: 6px;
   transform: rotate(-90deg);
   position: absolute;
   left: 28px;
   bottom: 40px;
   width: 0;
   height: 0;
   white-space: nowrap;
   span {
      font-weight: 100;
   }
}

.surf-box__inner-btn {
   bottom: 0;
   position: absolute;
   left: 0;
   right: 0;
   text-align: center;
   display: none;
}

.slider-dots__content-row {
   display: flex;
   justify-content: space-between;
   padding-bottom: 30px;
}

.slider-dots__content-item {
   text-align: center;
   img {
      margin-bottom: 7px;
      padding-left: 9px;
   }
}

.slider-dots__content-number {
   font-size: 16px;
   font-weight: 800;
   line-height: 23px;
   text-align: center;
}

.slider-dots__content-name {
   font-weight: 300;
   font-size: 10px;
   line-height: 12px;
   text-align: center;
   text-transform: uppercase;
}

.slider-dots__content-title {
   font-size: 18px;
   line-height: 26px;
   font-weight: 800;
   padding-bottom: 8px;
   margin-bottom: 8px;
   position: relative;
   &::before {
      content: "";
      position: absolute;
      background-color: $aqua;
      width: 80px;
      height: 1px;
      bottom: 0;
      left: 0;
   }
}

.slider-dots__content-subtitle {
   text-transform: capitalize;
   font-size: 16px;
   line-height: 19px;
}

.slider-dots__content-link {
   padding-top: 4px;
}

.slider-dots__circle {
   width: 23px;
   height: 23px;
   background-color: $aqua;
   border-radius: 50%;
   cursor: pointer;
   box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
}

.slider-dots__content {
   display: none;
   background: rgba(#000, 0.2);
   border-radius: 5px;
   position: absolute;
   bottom: 35px;
   transform: translateX(-50%);
   &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-bottom: 20px solid $aqua;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      bottom: -21px;
      left: calc(50%);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
   }
}

.slider-dots {
   position: relative;
}

.slider--dots--1 {
   top: 335px;
   left: 0;
   .slider-dots__content {
      transform: translateX(0);
      &::before {
         left: -0.5px;
      }
   }
}

.slider--dots--2 {
   top: 270px;
   left: 0;
   .slider-dots__circle {
      position: relative;
      &::before {
         content: "";
         position: absolute;
         background-image: url(../image/icons/POI_slider-map.svg);
         width: 14px;
         height: 17px;
         background-size: cover;
         right: -15px;
         top: -25px;
      }
   }
}

.slider--dots--3 {
   top: 330px;
   left: 25px;
}

.slider--dots--4 {
   top: 470px;
   left: -25px;
}

.slider--dots--5 {
   top: 230px;
   left: -65px;
}

.slider--dots--6 {
   top: 550px;
   left: -120px;
}

.slider--dots--7 {
   top: 375px;
   left: -95px;
}

.slider--dots--8 {
   top: 530px;
   left: -35px;
   .slider-dots__content {
      transform: translateX(-50%);
      &::before {
         // left: 300px;
         right: 0.5px;
      }
   }
}
//===========================holder======================//
.holder {
   position: relative;
   padding-top: 40px;
   margin-bottom: 40px;
   .bg-img2 {
      width: 60px;
      height: 110px;
      position: absolute;
      right: 0px;
      bottom: -15px;
   }
   &.sleep {
      background-repeat: no-repeat;
   }

   .slider-arrows {
      display: none !important;
      top: 225px;
      opacity: 0.5;
   }

   .title {
      span {
         font-size: 40px;
         transform: translateX(-10px);
         h3 {
            font-size: 20px;
            &::after {
               width: 40px;
               top: -2px;
            }
         }
      }
   }

   .bitmap-img {
      width: 150px;
      position: absolute;
      right: 0;
      top: 35%;
   }

   .headline-right {
      font-size: 12px;
      letter-spacing: 1px;
      padding-right: 45px;
      line-height: 10px;
      &::before {
         width: 40px;
      }
   }
}

.holder__slider {
   .holder-slider__head {
      position: relative;
      .holder-bgimg {
         background-repeat: no-repeat;
         background-position: top left;
         background-size: contain;
         width: 100%;
         height: auto;
         max-width: 1800px;
         max-height: 900px;
      }
   }
   .holder-slider__descr {
      .descr {
         width: 230px;
         .descr__head {
            position: absolute;
            padding-right: 32px;
            img {
               position: absolute;
               right: 0;
               top: -20px;
               width: 30px;
            }
            .holder__star-list {
               position: absolute;
               right: -45px;
               top: -10px;
               li {
                  display: inline-block;
                  margin-left: -20px;
               }
               img {
                  position: static;
               }
            }
         }
      }
   }
   .holder-slider__subtitle {
      position: absolute;
      right: 0;
      top: 0;
      padding-right: 15px;
      .subtitle {
         .headline-left {
            font-size: 12px;
            padding-left: 50px;
            line-height: 16px;
            &::before {
               width: 40px;
            }
         }

         .subtitle__head {
            font-size: 14px;
            padding-right: 5px;
         }
      }
   }
   .holder-slider__btn {
      text-align: center;
   }
}

.holder-slider__info {
   padding: 12px 12px 0 10px;
   display: flex;
   justify-content: space-between;
}

.holder-slider__info-item {
   margin-bottom: 70px;
   position: relative;
}

.holder-slider__info-subtitle {
   position: absolute;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 2px;
   opacity: 0.5;
   transform: rotate(-90deg);
   left: -100px;
   width: 200px;
   height: 0;
   top: 97px;
   text-align: right;
   white-space: nowrap;
}

.holder-slider__info-title {
   position: relative;
   font-size: 12px;
   line-height: 16px;
   font-weight: 800;
   padding-left: 16px;

   .summ-box {
      display: flex;
      flex-direction: column;
      .summ {
         position: fixed;
      }

      .info__title-prise-span {
         position: relative;
         display: inline-block;
         justify-content: end;
         font-size: 10px;
         text-transform: uppercase;
         opacity: 0.75;
         top: 15px;
      }
   }
}

//===========================shop======================//
.shop {
   padding: 50px 0 50px 0;
   background-image: url(../image/img/ShopImageBg.png);
   background-repeat: no-repeat;
   background-position: right center;
   background-size: contain;
   .title {
      span {
         font-size: 40px;
         transform: translateX(-10px);

         h3 {
            font-size: 20px;
            &::after {
               width: 30px;
            }
         }
      }
   }

   .shop__slider {
      .slider-arrows {
         cursor: pointer;
         opacity: 0.25;
         display: none !important;
      }
      .shop__slider-inner {
         display: flex;
         justify-content: space-between;
         padding: 10px 0 60px 0;
         .shop__slider-info {
            max-width: 480px;
            padding: 0 20px 0 20px;
            .descr {
               top: 50px;
               padding: 0;
               .descr__head-shop {
                  width: 100px;
               }
               .headline-right {
                  font-size: 12px;
                  line-height: 20px;
                  letter-spacing: 2px;
                  padding-right: 35px;
                  &::before {
                     width: 30px;
                  }
               }
            }

            .shop__slide-price {
               top: 50px;
               display: block;
               position: relative;
               padding-left: 7px;
               .holder__star-list {
                  display: inline;
                  li {
                     display: inline-block;
                     margin-left: -15px;
                     img {
                        width: 24px;
                     }
                  }
               }
            }

            p {
               position: relative;
               bottom: 0;
               top: 45px;
               left: 0;
               font-size: 12px;
               line-height: 22px;
               font-weight: 800;
               // margin-bottom: 64px;
               sup {
                  position: absolute;
                  font-size: 10px;
                  top: -3px;
                  padding-left: 2px;
               }
            }
         }

         .surfboard {
            position: relative;
            img {
               width: 80px;
               height: 270px;
            }

            .surfboard-box {
               position: absolute;

               .surfboard__box-circle {
                  position: relative;
                  width: 15px;
                  height: 15px;
                  border-radius: 50%;
                  background: #fff;
                  cursor: pointer;

                  &.activ {
                     .circle-row {
                        transform: translate(-50%, -50%) rotate(0deg);
                     }
                  }

                  .circle-row {
                     background-color: $aqua;
                     position: absolute;
                     width: 12px;
                     height: 2px;
                     top: 50%;
                     left: 50%;
                     transform: translate(-50%, -50%) rotate(0deg);
                     & + .circle-row {
                        transform: translate(-50%, -50%) rotate(90deg);
                     }
                  }
               }

               .surfboard__box-content {
                  display: none;
                  position: absolute;
                  width: 150px;
                  font-size: 12px;
                  line-height: 12px;
                  font-weight: 800;
                  padding-left: 35px;
                  top: -12px;
                  left: 23px;
                  &::before {
                     content: "";
                     position: absolute;
                     background-color: #fff;
                     width: 30px;
                     height: 1px;
                     left: 0;
                     top: 50%;
                  }
               }
            }

            .surfboard-box__position-1 {
               right: 7px;
               top: 70px;
            }

            .surfboard-box__position-2 {
               left: 0;
               top: 115px;
            }

            .surfboard-box__position-3 {
               top: 234px;
               left: 15px;
               .surfboard__box-content {
                  padding-left: 0;
                  padding-right: 0;
                  width: 105px;
                  top: -10px;
                  left: -130px;
                  &::before {
                     content: "";
                     position: absolute;
                     background-color: #fff;
                     width: 30px;
                     height: 1px;
                     left: auto;
                     right: -18px;
                     top: 50%;
                  }
               }
            }

            .surfboard__box-circle.activ + .surfboard__box-content {
               display: block;
            }
         }
      }

      .shop__slider__btn {
         padding-top: 60px;
         .btn {
            line-height: 22px;
            font-weight: 800;
            span {
               padding: 0 35px 0 8px;
               &::after {
                  height: 17px;
                  width: 20px;
                  background-size: 20px;
               }
               &::before {
                  width: 13px;
                  left: -10px;
               }
            }
         }
      }

      .shop__slider-content {
         display: flex;
         align-items: flex-end;

         .shop__extras {
            .shop__extras-inner {
               display: flex;
            }
            .shop__extras-title {
               padding-left: 5px;
               display: inline;
               font-weight: 800;
               font-size: 12px;
               line-height: 22px;
               text-transform: uppercase;
               letter-spacing: 1px;
            }
         }

         .shop__extras-box {
            text-align: center;
            padding-right: 10px;
            // margin-right: 57px;
            .shop__extras-name {
               font-size: 12px;
               line-height: 22px;
               opacity: 0.3;
            }

            .shop__extras-price {
               font-size: 12px;
               line-height: 22px;
               font-weight: 800;
               // margin-bottom: 16px;
            }
         }

         .shop__extras-box-img {
            min-height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
               width: 55px;
            }
         }
      }
   }
}

.footer {
   text-align: center;
   .btn {
      padding-bottom: 30px;
      span {
         text-transform: uppercase;
         font-weight: 800;
         &::before {
            width: 13px;
            left: -10px;
         }
      }
   }

   .footer-arrows {
      float: right;
      transform: rotate(180deg);
      padding-left: 50px;
   }
}

.footer__copyrigt {
   padding-bottom: 20px;
   text-align: center;
   font-size: 12px;
   line-height: 12px;
   text-align: center;
   letter-spacing: 0;
   text-transform: uppercase;
   color: #ffffff;
   mix-blend-mode: normal;
   opacity: 0.5;
   font-weight: 300;
}

@import "_media";
